<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - semenarna</title>

    <!-- lib css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles internal lib -->
    <link rel="stylesheet" href="~/tp-lib/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/tp-lib/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/tp-lib/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/tp-lib/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/tp-lib/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/tp-lib/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/tp-lib/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/tp-lib/css/nice-select.css" type="text/css">

    <!-- site css -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        info@semenarna.mk
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        389 684 698
                    </div>
                </div>
                <div class="ht-right">
                    @if (User.IsInRole("Admin")) {
                        <a asp-area="Panel" asp-controller="Base" asp-action="Index" class="login-panel"><i class="fas fa-user-shield"></i>Admin Panel</a>
                    }
                    @if (User.Identity.IsAuthenticated) {
                        <a asp-area="" asp-controller="Auth" asp-action="Logout" class="login-panel"><i class="fa fa-user"></i>Logout</a>
                    }
                    else {
                        <a asp-area="" asp-controller="Auth" asp-action="Login" class="login-panel"><i class="fa fa-user"></i>Login</a>
                    }
                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="/img/pride-flag.png" data-imagecss="flag yt"
                                    data-title="MK">
                                МK
                            </option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/tp-lib/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn" style="opacity: 0;">All Categories</button>
                            <div class="input-group">
                                <input type="text" placeholder="What do you need?" id="store-search">
                                <button type="button"><i class="fas fa-search"></i></button>
                                @*<button class="m-0" id="custom-input-clear">X</button>*@
                            <ul class="list-group" id="search-suggestions">
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="cart-icon">
                                <a asp-area="Cart" asp-controller="Base" asp-action="Index">
                                    <i class="fas fa-shopping-bag"></i>
                                    <span id="cart-quantity-hover" style="opacity: 0;">0</span>
                                </a>
                                @*<div class="cart-hover">
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5 id="cart-total-hover">0 мкд</h5>
                                    </div>
                                    <div class="select-button">
                                        <a asp-area="Cart" asp-controller="Base" asp-action="Index" class="primary-btn view-card">VIEW CART</a>
                                        <a asp-area="Cart" asp-controller="Base" asp-action="Checkout" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>*@
                            </li>
                            @*<li id="cart-total-hover">0 мкд</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="fas fa-bars"></i>
                        <span>Категории</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Underwear</a></li>
                            <li><a href="#">Kid's Clothing</a></li>
                            <li><a href="#">Brand Fashion</a></li>
                            <li><a href="#">Accessories/Shoes</a></li>
                            <li><a href="#">Luxury Brands</a></li>
                            <li><a href="#">Brand Outdoor Apparel</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Почетна</a></li>
                        <li><a href="~/Store/Base/Index">Продавница</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Faq">ЧПП</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакт</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="container-fluid pl-0 pr-0">
        <main role="main" class="pb-3">
            <div id="alert-container">
            </div>
            @RenderBody()
        </main>
    </div>
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/tp-lib/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/tp-lib/img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/tp-lib/img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/tp-lib/img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/tp-lib/img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="~/tp-lib/img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Адреса: Бул. Србија бр. 3, 1000 Скопје</li>
                            <li>Телефон: +389 (0)2 2783 225</li>
                            <li>Email: info@semenarna.mk</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Информации</h5>
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">За нас</a></li>
                            <li><a asp-area="Cart" asp-controller="Base" asp-action="Checkout">Наплата</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакт</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Профил</h5>
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакт</a></li>
                            <li><a asp-area="Cart" asp-controller="Base" asp-action="Index">Кошничка</a></li>
                            <li><a asp-area="Store" asp-controller="Base" asp-action="Index">Продавница</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                        </div>
                        <div class="payment-pic">
                            <img src="~/tp-lib/img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/tp-lib/js/jquery-ui.min.js"></script>
    <script src="/tp-lib/js/jquery.countdown.min.js"></script>
    <script src="/tp-lib/js/jquery.nice-select.min.js"></script>
    <script src="/tp-lib/js/jquery.zoom.min.js"></script>
    <script src="/tp-lib/js/jquery.dd.min.js"></script>
    <script src="/tp-lib/js/jquery.slicknav.js"></script>
    <script src="/tp-lib/js/owl.carousel.min.js"></script>
    <script src="/tp-lib/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
