@model Spec
@{
    ViewBag.Title = User.Identity.Name;
    Layout = "~/Areas/Panel/Views/Shared/_PanelLayout.cshtml";
}
@{
    int max = 0;
    var arr_first = Model.First;
    var arr_last = Model.Rest;
    var num_of_rows = (Model.First.Length + Model.Rest.Length) / Model.ItemsPerRow;

}
<div class="container-lg pt-3">
    <form asp-controller="Specs" asp-action="Manage" method="post" enctype="multipart/form-data" id="spec-form">
        <div class="form-group row">
            <div class="col-6">
                <label>Spec Name</label>
                <input type="text" class="form-control" name="Name" value="@Model.Name">
            </div>
        </div>
        <div class="form-group row">
            @for (int k = 0; k < Model.ItemsPerRow; k++) {
                <div class="col-3">
                    <label>Field @(k+1)</label>
                    <input type="text" class="form-control" name="First[]" value="@arr_first[k]">
                </div>
            }
        </div>
        @{ var start = 0;}
        @for (int i = 1; i < num_of_rows; i++) {
            <div class="form-group row">
                @for (int j = start; j < Model.ItemsPerRow; j++) {
                    <div class="col-3">
                        <input type="text" class="form-control" name="Rest[]" value="@arr_last[j]">
                    </div>
                }
            </div>
            start += Model.ItemsPerRow;
        }
        <div class="form-group" id="spec-add-item-group">
            <button type="button" class="btn btn-secondary" id="add-row-btn"><i class="fas fa-plus pr-2"></i>Add row</button>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>
