@model ProductViewModel
@{
    ViewBag.Title = User.Identity.Name;
    Layout = "~/Areas/Panel/Views/Shared/_PanelLayout.cshtml";
}
<div class="container-lg pt-3">
    <form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="productNameInput" class="form-control" asp-for="Name">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" id="productDescriptionInput" class="form-control" asp-for="Description">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" id="productDescriptionInput" class="form-control" asp-for="Price">
        </div>
        <div class="form-group">
            <label>SalePrice</label>
            <input type="text" id="productDescriptionInput" class="form-control" asp-for="SalePrice">
        </div>
        <div class="form-group">
            <label>On Sale</label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="OnSale" name="OnSale" value="true">
                <label class="custom-control-label" for="OnSale">Set sale status</label>
            </div>
        </div>
        <div class="form-group">
            <label>In Stock</label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="InStock" name="InStock" value="true">
                <label class="custom-control-label" for="InStock">Set stock status</label>
            </div>
        </div>
        <div class="form-group">
            <label>Spec</label>
            <input type="text" id="productDescriptionInput" class="form-control" asp-for="Spec">
        </div>
        <div class="form-group">
            <label>Categories</label>
            @foreach (var item in Model.GetCategories) {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@item.Name" name="Categories[]" value="@item.Name">
                    <label class="custom-control-label" for="@item.Name">@item.Name</label>
                </div>
            }
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" name="Img" id="Imageinput" asp-for="Img">
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>