@model ProductViewModel
@{
    ViewBag.Title = User.Identity.Name;
    Layout = "~/Areas/Panel/Views/Shared/_PanelLayout.cshtml";
}
<div class="container-lg pt-3">
    <form asp-controller="Products" asp-action="Create" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="productNameInput" class="form-control" placeholder="Enter product name" asp-for="Name">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" id="productDescriptionInput" class="form-control" placeholder="Enter product name" asp-for="Description">
        </div>
        <div class="form-group">
            <input type="file" name="Image" id="Imageinput" asp-for="Img">
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>