<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Check Out</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section end -->
<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <div class="checkout-form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a href="#" class="content-btn">Click Here To Login</a>
                    </div>
                    <h4>Biiling Details</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="first">First Name<span>*</span></label>
                            <input type="text" id="first" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Last Name<span>*</span></label>
                            <input type="text" id="last" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="co-name">Company Name</label>
                            <input type="text" id="co-name">
                        </div>
                        <div class="col-lg-12">
                            <label for="country">Country<span></span></label>
                            <input type="text" id="country">
                        </div>
                        <div class="col-lg-12">
                            <label for="address">Street Address<span>*</span></label>
                            <input type="text" id="address" class="street-first" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="zip">Postcode / ZIP (optional)</label>
                            <input type="text" id="zip">
                        </div>
                        <div class="col-lg-12">
                            <label for="city">Town / City<span>*</span></label>
                            <input type="text" id="city" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Email Address<span>*</span></label>
                            <input type="text" id="email" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Phone<span>*</span></label>
                            <input type="text" id="phone" required>
                        </div>
                        <div class="col-lg-12">
                            <div class="create-item">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <input type="text" placeholder="Enter Your Coupon Code">
                    </div>
                    <div class="place-order">
                        <h4>Your Order</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Product <span>Total</span></li>
                                @*<li class="fw-normal">Combination x 1 <span>$60.00</span></li>
            <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
            <li class="fw-normal">Combination x 1 <span>$120.00</span></li>
            <li class="fw-normal">Subtotal <span>$240.00</span></li>
            <li class="total-price">Total <span>$240.00</span></li>*@
                            </ul>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-check">
                                        Карго
                                        <input type="checkbox" class="order-checkmark delivery-method" id="pc-check" name="delivery_method" value="карго">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-paypal">
                                        Подигнување од локал
                                        <input type="checkbox" class="order-checkmark delivery-method" id="pc-paypal" name="delivery_method" value="во локал">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-drone">
                                        Дрон
                                        <input type="checkbox" class="order-checkmark delivery-method" id="pc-drone" name="delivery_method" value="дрон">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-online">
                                        Online
                                        <input type="checkbox" class="order-checkmark payment-method" id="pc-online" name="payment_method" value="online">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-cod">
                                        На достава
                                        <input type="checkbox" class="order-checkmark payment-method" id="pc-cod" name="payment_method" value="на достава">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-btn">
                                <button type="button" class="site-btn place-btn" id="checkout-submit-btn">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->