<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Почетна</a>
                    <a asp-area="Store" asp-controller="Base" asp-action="Index">Продавница</a>
                    <span>Наплата</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section end -->
<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <div class="checkout-form">
            <div class="row">
                <div class="col-lg-6">
                    @*<div class="checkout-content">
                        <a href="#" class="content-btn">Click Here To Login</a>
                    </div>*@
                    <h4>Детали за наплата</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="first">Име<span>*</span></label>
                            <input type="text" id="first" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Презиме<span>*</span></label>
                            <input type="text" id="last" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="co-name">Име на фирма (не задолжително)</label>
                            <input type="text" id="co-name">
                        </div>
                        <div class="col-lg-12">
                            <label for="country">Држава<span></span></label>
                            <input type="text" id="country">
                        </div>
                        <div class="col-lg-12">
                            <label for="address">Адреса на достава<span>*</span></label>
                            <input type="text" id="address" class="street-first" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="zip">Поштенски број</label>
                            <input type="text" id="zip">
                        </div>
                        <div class="col-lg-12">
                            <label for="city">Град<span>*</span></label>
                            <input type="text" id="city" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Email<span>*</span></label>
                            <input type="text" id="email" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Телефонски број<span>*</span></label>
                            <input type="text" id="phone" required>
                        </div>
                        <div class="col-lg-12">
                            <div class="create-item">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @*<div class="checkout-content">
                        <input type="text" placeholder="Enter Your Coupon Code">
                    </div>*@
                    <div class="place-order">
                        <h4>Вашата нарачка</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Производ <span>Вкупно</span></li>
                                @*<li class="fw-normal">Combination x 1 <span>$60.00</span></li>
            <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
            <li class="fw-normal">Combination x 1 <span>$120.00</span></li>
            <li class="fw-normal">Subtotal <span>$240.00</span></li>
            <li class="total-price">Total <span>$240.00</span></li>*@
                            </ul>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-check">
                                        Карго
                                        <input type="checkbox" class="order-checkmark delivery-method" id="pc-check" name="delivery_method" value="карго">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-paypal">
                                        Подигнување од локал
                                        <input type="checkbox" class="order-checkmark delivery-method" id="pc-paypal" name="delivery_method" value="во локал">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-online">
                                        Online
                                        <input type="checkbox" class="order-checkmark payment-method" id="pc-online" name="payment_method" value="online">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-cod">
                                        На достава
                                        <input type="checkbox" class="order-checkmark payment-method" id="pc-cod" name="payment_method" value="на достава">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-btn">
                                <button type="button" class="site-btn place-btn" id="checkout-submit-btn">Направи нарачка</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->