<!--<div class="container-lg">
    <table class="table" id="cart-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Details</th>
                <th scope="col">Product</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody id="table-body">-->
            @*<tr>
                    <th scope="row">2</th>
                    <td>Grass 2</td>
                    <td>16.65</td>
                    <td>7</td>
                    <td><img src="~/img/2.jpg" alt="Alternate Text" width="48" /></td>
                </tr>*@
        <!--</tbody>
    </table>
</div>-->


<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Почетна</a>
                    <a asp-area="Store" asp-controller="Base" asp-action="Index">Продавница</a>
                    <span>Кошница</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th style="display: none"></th>
                                <th>Производ</th>
                                <th class="p-name">Име на производ</th>
                                <th>Цена</th>
                                <th>Количина</th>
                                <th>Детали</th>
                                <th>Вкупно</th>
                                <th><i class="ti-close"></i></th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                           @* <tr>
                                <td class="cart-pic"><img src="img/cart-page/product-2.jpg" alt=""></td>
                                <td class="cart-title">
                                    <h5>American lobster</h5>
                                </td>
                                <td class="p-price">$60.00</td>
                                <td class="qua-col">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="total-price">$60.00</td>
                                <td class="close-td"><i class="ti-close"></i></td>
                            </tr>*@
                            
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 invisible">
                        <div class="cart-buttons">
                            <a href="#" class="primary-btn continue-shop">Continue shopping</a>
                            <a href="#" class="primary-btn up-cart">Update cart</a>
                        </div>
                        <div class="discount-coupon">
                            <h6>Discount Codes</h6>
                            <form action="#" class="coupon-form">
                                <input type="text" placeholder="Enter your codes">
                                <button type="submit" class="site-btn coupon-btn">Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                <li class="cart-total">Вкупно <span>0 ден</span></li>
                            </ul>
                            <a asp-area="Cart" asp-controller="Base" asp-action="Checkout" class="proceed-btn">Продолжи кон наплата</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->