<div class="faq-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="faq-accordin">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-heading active">
                                <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                    Како може да се нарача производ?
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Производ може да нарачате без оглед на тоа дали
                                        сте регистрирани и најавени. Нарачки за производи
                                        се примаат 24 часа секој ден, во согласност со
                                        условите и правилата на Семенарна СК. Испорачувањето
                                        на нарачките се врши во рамки на работното време на
                                        Семенарна СК (пон-пет од 09-17ч. / саб. 10-15ч.). Сите
                                        испораки се вршат само во градови и населени места во
                                        Р.Македонија.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseTwo">
                                    Како се одвива наплаќањето на производ?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Наплата се врши при достава т.е. производот се наплатува
                                        кога ќе се достави, но треба да се напомене дека купувачот
                                        треба да ја потврди нарачката откако ќе биде исконтактиран
                                        телефонски и најчесто во тој случај доставата е поспора.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseThree">
                                    Колку чини испораката на производ?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Доставата е бесплатна за сума на нарачката поголема од 5000 ден.
                                        Во спротивно се наплаќа 189 ден. Испораката на домашна
                                        адреса ја врши поштенска/карго служба . Испораката до продажен
                                        салон на Анхоч во било кој град е бесплатна, купувачот потоа е
                                        должен да ја подигне нарачката од салонот кој го одбрал за достава.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseFour">
                                    Колкаво е времето на испорака?
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Нарачките со адреса на достава во Скопје, во најголем број 
                                        од случаите пристигнуваат во рок од 5 часа, доколку нарачката 
                                        е процесирана до 11 часот истиот ден, доставата ќе се одложи 
                                        доколку производот го нема во магацин. Доколку адресата на 
                                        достава е друг град / населено место, надвор од Скопје, рокот 
                                        на испорака е 24 часа, за малите населени места испораката 
                                        може да се оддолжи. За време на празници и неработни денови 
                                        не се врши испорака.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section End -->