<div class="faq-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="faq-accordin">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-heading active">
                                <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                    Како може да се нарача производ?
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Производите можат да се нарачаат директно преку веб 
                                        страната или преку контакт телефонот (0)2 2783 225. 
                                        Нарачки на веб страната може да се направат 24/7. 
                                        Сите испораки се вршат само на територија на Р.Македонија.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseTwo">
                                    Како се одвива наплаќањето на производ?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Наплатата се врши при достава на нарачката.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseThree">
                                    Колку чини испораката на производ?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Доставата е бесплатна доколку вредноста на производите 
                                        надминува 3000 ден. Во спротивно доставата се наплаќа 
                                        согласно ценовникот на поштенската/карго служба која ја 
                                        врши испораката.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseFour">
                                    Колкаво е времето на испорака?
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        За нарачките со адреса на достава во Скопје рокот на 
                                        испорака е од 24 до 48 часа. За нарачките со адреса 
                                        на достава надвор од Скопје рокот на испорака е од 24 
                                        до 72 часа. За време на државни празници и неработни 
                                        денови не се врши испорака, односно рокот за испорака ќе биде одложен.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section End -->