<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="/img/hero-1.jpg">
            @*<div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Тревни мешавини</span>
                        <h1>Тревна смеса тиволи</h1>
                        <p>
                            Број 1 тревна смеса на пазарот. 
                            Тиволи, бидејќи тревата е позелена на твојата страна.
                        </p>
                        <a href="/Store/Base/Index" class="primary-btn">Продавница</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div>
            </div>*@
        </div>
        <div class="single-hero-items set-bg" data-setbg="/img/hero-2.png">
            @*<div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Супстрати</span>
                        <h1>Valentin Optimum супстарти</h1>
                        <p>
                            Богат избор на висококвалитетни супстрати за сите балконски, 
                            собни и градинарски растенија.
                        </p>
                        <a href="/Store/Base/Category/1?category_id=2" class="primary-btn">Продавница</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div>
            </div>*@
        </div>
        <div class="single-hero-items set-bg" data-setbg="/img/hero-3.png">
            @*<div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Ѓубрива</span>
                        <h1>Valentin Optimum ѓубрива</h1>
                        <p style="color: white;">
                            Освежи ја градината ова лето со линијата ѓубрива од познатиот словенски бренд Valentin.
                        </p>
                        <a href="/Store/Base/Category/1?category_id=4" class="primary-btn">Продавница</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div>
            </div>*@
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/img/category-1.png" alt="">
                    <div class="inner-text">
                        <h4>Треви</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/img/category-2.png" alt="">
                    <div class="inner-text">
                        <h4>Саксии</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/img/category-3.png" alt="">
                    <div class="inner-text">
                        <h4>Луковици</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!--  banner -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="/img/banner-1.jpg">
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="control-item active" data-value="Промоција">Промоција</li>
                        <li class="control-item" data-value="Супстрати">Супстрати</li>
                        <li class="control-item" data-value="Ѓубрива">Ѓубрива</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel product-slider-one">
                </div>
            </div>
        </div>
    </div>
</section>
<!--  banner End -->
<!-- first banner Section Begin-->
<section class="deal-of-week spad promotion-background" >
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>На Промоција</h2>
                <p class="promotion-text">
                    Дајте му нова димензија на вашиот тревник со специјалното ѓубриво за тревнизи со железо.
                </p>
                <div class="product-price promotion-price">
                    
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>40</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>52</span>
                    <p>Secs</p>
                </div>
            </div>
            <a href="/Store/Product/Single/52" class="primary-btn">Види</a>
        </div>
    </div>
</section>
<!-- first banner Section End -->
<!-- second banner Section Begin -->
<section class="women-banner spad" style="padding-top: 80px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="/img/banner-2.jpg">
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active control-item" data-value="Тревни мешавини">Треви</li>
                        <li class="control-item" data-value="Цветни Кеси">Цветни Кеси</li>
                        <li class="control-item" data-value="Градинарски Кеси">Градинарски Кеси</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel product-slider-one">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/img/category-4.png" alt="">
                    <div class="inner-text">
                        <h4>Треви</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/img/category-5.png" alt="">
                    <div class="inner-text">
                        <h4>Саксии</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/img/category-6.png" alt="">
                    <div class="inner-text">
                        <h4>Луковици</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="women-banner spad" style="padding-top: 80px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="/img/banner-2.jpg">
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active control-item" data-value="Тревни мешавини">Треви</li>
                        <li class="control-item" data-value="Цветни Кеси">Цветни Кеси</li>
                        <li class="control-item" data-value="Градинарски Кеси">Градинарски Кеси</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel product-slider-one">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- second banner end -->
<!-- third banner start -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="filter-control">
                    <ul>
                        <li class="active control-item" data-value="Саксии">Саксии</li>
                        <li class="control-item" data-value="Црева">Црева</li>
                        <li class="control-item" data-value="Градина">Градина</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel product-slider-one full-width-carousel">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- third banner start -->
<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">

        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4 border-custom">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="~/tp-lib/img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Бесплатна достава</h6>
                            <p>На сите нарачки над 2500 ден.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border-custom">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="~/tp-lib/img/icon-2.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Брза достава</h6>
                            <p>Испорака до дома</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border-custom">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="~/tp-lib/img/icon-3.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Плаќање на достава</h6>
                            <p>Плаќање во готово</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest Blog Section End -->
<!-- Partner Logo Section Begin -->
