<div class="container privacy-container">
    <div class="h2">Политика за приватност</div>
    <hr />
    <p>
        Со политикатата на приватност, ќе ви појасниме каде и 
        како се чуваат личните податоци на сите регистрирани 
        купувачи на нашата интернет страна. Оваа политика на 
        приватност се однесува само за www.semenarna.mk. Доколку 
        е присутен линк кој ќе Ве поврзе со други страни, ние не 
        превземаме никаква одговорност за можните пропусти во 
        безбедност.
    </p>
    <br />
    <p>
        Секој корисник при регистрација и купување е задолжен да 
        изјави дека се согласува со политиката за приватност.
    </p>
    <br />
    <p>
        Доколку се регистрирате, сите лични податоци кои ќе ги 
        внесете преку формата за регистрација, ќе се користат за 
        потребите за достава на производот, реализација на плаќањето, 
        а се чуваат согласно одредбите од Законот за заштита на лични 
        податоци и не се отстапуваат на трети страни.
        Од информациите кои ни се потребни при регистрацијата и/или 
        при нарачка ги издвојуваме:
    </p>
    <ul class="privacy-list">
        <li>Име и презиме</li>
        <li>Email адреса</li>
        <li>Адреса на испорака на нарачката</li>
        <li>Телефон за контакт</li>
    </ul>
    <br />
    <p>
        Податоците кои ги собираме и се чуваат кај нас, нема да се 
        објавуваат, продаваат или доставуваат на трета страна освен 
        на надлежните органи на начин определен со законските 
        прописи на Република Северна Македонија
    </p>
    <p>
        СЕМЕНАРНА СК ДООЕЛ го задржува правото да ги користи IP 
        aдресите и другите лични податоци на корисниците за откривање 
        на нивниот идентитет во случај на спроведување на законот и законските постапки.
    </p>
    <br />
    <p>
        Во секој момент може да извршите промена, ажурирање или корекција на 
        Вашите неточни лични податоци и информации.
    </p>
    <br />
    <p>
        Податоците околу кредитната картичка и банкарската сметка ќе бидат 
        чувани и користени исклучиво од страна на НЛБ Тутунска банка со цел 
        наплата на нарачките преку извршување на  трансакција. Трансакцијата 
        при наплаќање на производот е пренасочена и се процесира преку порталот 
        за наплата од кредитни картички на НЛБ Тутунска Банка. Порталот користи 
        современа заштита на податоците и сите процеси се одвиваат преку сигурна 
        конекција со банката.
    </p>
    <br />
    <p>
        Малолетни лица не смеат да даваат лични податоци без одобрение од нивните 
        родители или старатели и се обврзуваме дека нема намерно да собираме или 
        користиме податоци од малолетни лица. Ги превземаме сите заштитни мерки за 
        заштита на личните податоци на купувачите со цел да се минимизира ризикот од 
        неовластен пристап и злоупотреба на истите.
    </p>
    <p>
        СЕМЕНАРНА СК ДООЕЛ Ве информира дека користи колачиња. Без нив сајтот нема да 
        функционира правилно и многу од опциите нема да можете да ги видите. 
        Колачињата ни служат за следење на посетителите на страната по неа, и на 
        тој начин се собираат податоци како да се оптимизира и унапреди функционалноста 
        на страната.
    </p>
    <br />
    <p>
        Оваа политика на приватност стапува на сила од 30.06.2021 година.
        Промените во политиката на приватност ќе бидат јавно објавени на интернет 
        странатa www.semenarna.mk најмалку 14 дена пред да стапат во сила.
    </p>

</div>