@model ResultViewModel


<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="order-success-box d-block">
        <div class="order-success-box-inner">
            <div class="d-md-flex align-items-center d-sm-block pb-3">
                <p class="h4 pr-4">Order placed successfully.</p>
                <i class="fas fa-check fa-2x" style="color: green; margin-bottom: 0.5rem;"></i>
            </div>
            <h4>Order ID: @Model.OrderId</h4>
            <p>@Model.Message&nbsp;<a href="#">@Model.EmailSent</a></p>
            <p></p>
        </div>
    </div>
</div>