.item-id {
    display: none;
}
#alert-container-panel {
    position: fixed;
    top: 88%;
    left: 40%;
    z-index: 100;
}

.add-option-btn i {
    pointer-events: none;
}

.remove-option-btn i {
    pointer-events: none;
}