/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* CUSTOM CSS HOME */
.secondary-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: white;
    background-color: #7c0a02;
}

    .secondary-menu ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
    }

        .secondary-menu ul li {
            padding: 0 15px;
        }

.menu-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .menu-icons svg {
        margin: 0 10px;
    }

.home-icons-bar {
    display: flex;
    height: 15vh;
    max-height: 300px;
    background-color: #7c0a02;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.carousel-main .carousel-item {
    position: relative;
    height: 400px;
}

    .carousel-main .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
    }

.carousel-promotion .carousel-item {
    position: relative;
    height: 300px;
}

    .carousel-promotion .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
    }


/* STORE CSS */
#search-suggestions {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
}



/* PRODUCTS PAGE */
.categories-box {
    padding-left: 40px;
    border: 1px solid;
}

.grey-hr {
    border-top: 1px solid grey;
}

.single-product-card {
    background-color: white
}

.single-product-background {
    background-color: grey;
}

/* SINGLE PRODUCT */
#product-image {
    max-width: 408px;
    max-height: 408px;
}

#alert-container {
    position: fixed;
    top: 92%;
    left: 40%;
    z-index: 100;
}

.gallery-image {
    transition: transform 0.2s;
    transform: scale(0.9);
}

.gallery-image:hover {
    transform: scale(1.1);
}

#table-content {
    min-height: 200px;
}


/*STORE PAGE*/
.product-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 2rem;
}

.image-container {
    position: relative;
}

.promotion-price-box {
    background-color: green;
    color: white;
    border-radius: 3px;
}

.image-container .discount-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    background: green;
    border-radius: 50%;
    opacity: 0.8;
}

.discount-circle p {
    font-size: 1.8rem;
    color: white;
}

.custom-input {
    border: 0;
    border-bottom: 1px solid gray;
}

#custom-input-clear {
    border: 0;
    border-bottom: 1px solid gray;
}

    #custom-input-clear:focus {
        outline: none;
    }

.custom-input:focus {
    outline: none;
}

.categories-menu {
    border: none;
}

    .categories-menu .list-group-item.active {
        background: green;
        border: green 1px solid;
    }

/* FONT SIZING*/
p {
    font-size: 1rem;
}




@media (min-width: 992px) {
    p {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width : 1680px) {

    .container-custom {
        max-width: 1600px;
    }
}


/*CART*/
.cart-update-quantity {
    color: #e7ab3c;
    font-weight: 700;
}

.cart-update-quantity:hover {
    color: black;
}

.cart-edit-quantity {
    font-weight: 700;
    color: #e7ab3c;
}

.cart-edit-quantity:hover {
        
    color: black;
}

.quantity-text {
    padding-right: 15px;
}

/*CHECKOUT*/

.payment-check label {
    user-select: none;
}

/* ORDER RESULT PAGE*/
.order-success-box {
    width: 65%;
    border: 2px solid teal;
    box-shadow: 15px -10px teal;
    border-radius: 2px;
    min-height: 400px;
    margin: 5rem 0px;
}

.order-success-box-inner {
    padding: 3rem 2.5rem;
}